%h1 Listing questions

%table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Sentence
      %th Answer
      %th Published
      %th
      %th
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td= question.sentence
        %td= question.answer
        %td= question.published
        %td= link_to 'Show', [:admin, @grade, question]
        %td= link_to 'Edit', edit_admin_grade_question_path(@grade, question)
        %td= link_to 'Destroy', [:admin, @grade, question], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Question', new_admin_grade_question_path(@grade)
