%h1 Listing grades

%table
  %thead
    %tr
      %th Title
      %th Published
      %th Grade num
      %th
      %th
      %th

  %tbody
    - @grades.each do |grade|
      %tr
        %td= grade.title
        %td= grade.published
        %td= grade.grade_num
        %td= link_to 'Show', [:admin, grade]
        %td= link_to 'Edit', edit_admin_grade_path(grade)
        %td= link_to 'Destroy', [:admin, grade], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Grade', new_admin_grade_path
