%p#notice= notice

%p
  %b Title:
  = @grade.title
%p
  %b Published:
  = @grade.published
%p
  %b Grade num:
  = @grade.grade_num

= link_to 'Edit', edit_grade_path(@grade)
\|
= link_to 'Back', admin_grades_path
